nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 32, 32);
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
}

nav li {
  margin: 0 1em;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  height: 100%;
}
.nav-link:visited {
  color: inherit;
}

.nav-link:hover {
  color: rgb(255, 208, 0);
  cursor: pointer;
}

.nav-link.active {
  color: yellow;
}
